.display {
 max-width: 100%;
height: 500px;
 min-width: 310px;
 max-width: 600px;
 margin: 0 auto;
 font-size: 80%;
 background-color: #ff9666;
}
.container float-right {
  object-align: right;
  width: 25%;
}
.dataTables_filter {
display: none;

}
